header{
 background: no-repeat center center;
 background-size: cover;
 color: white;	
}

body{
	background-image: url('bg.jpeg')
}
h1,h2{
 font-family: 'Snacker Comic Personal Use Only', sans-serif;
 font-weight: bolder;
                                                
}
.containers{
	background-color: #BEE9FE;

}
.navbar-brand img {
	width: 200px;
	height: auto;
}
.card{
	border-style: solid;
	border-width: 3px;
	height: 100%;
}
.card-img-top{
	height: 50%;
}
.color-overlay{
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 60vh;
}
.card-img-top{
	height: 100%;
}
.sheet{
	font-size: 12vw;
}

}

.singleCol{
	max-width: 750px;

}
.btn-outline-dark{
	background-color: #BEE9FE;
}
.btn-outline-dark:hover{
	background-color: #79A1C5;
	color: #FF6464;
}
footer{
	background-color: #BEE9FE;


}
footer a{
	color: darkblue;
}
footer a:hover{
	color: #BEE9FE;
}
@media (max-width: 767.98px){
	.color-overlay{
		min-height: 30vh;
	}
}